<h2>Buscar producto</h2>

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <form class="d-flex" (ngSubmit)="buscarProducto()">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" [formControl]="nombre">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>

<div>
    <table class="table table-striped">
        <thead class="table-dark">
            <tr>
                <th>Nombre</th>
                <th>Precio</th>
                <th>Plazos</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of productos">
                <td>{{producto.nombre}} </td>
                <td>${{producto.precio}}</td>   
                <td><button class="btn btn-success" (click)="obtenerProducto(producto.precio)">Ver Plazos</button></td>            
            </tr>
        </tbody>
    </table>
</div>

<div *ngIf="status">
   <form [formGroup] = "formulario" (ngSubmit)="calcularCotizacion()">
        <select formControlName="semanas">
            <option *ngFor="let plazo of plazos">{{plazo.semanas}}</option>
        </select>
        <input class="btn btn-success" type="submit" value="Cotizar">
   </form>
</div>